Repository goauthentik/authentik: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package-client-package-allauth, package-client-package-sentry

package-client-package-allauth:
  script:
  - cd client-packages/allauth
  - python setup.py sdist
  - twine upload --username $TWINE_USERNAME --password $TWINE_PASSWORD dist/*
  stage: build

package-client-package-sentry:
  script:
  - cd client-packages/sentry-auth-passbook
  - python setup.py sdist
  - twine upload --username $TWINE_USERNAME --password $TWINE_PASSWORD dist/*
  stage: build

don't use context manager in web command
  debian/changelog
  passbook/core/management/commands/web.py
Due: none

bump version: 0.1.29-beta -> 0.1.30-beta
  .bumpversion.cfg
  .gitlab-ci.yml
  client-packages/allauth/setup.py
  client-packages/sentry-auth-passbook/setup.py
  helm/passbook/Chart.yaml
  helm/passbook/values.yaml
  passbook/__init__.py
  passbook/admin/__init__.py
  passbook/api/__init__.py
  passbook/app_gw/__init__.py
  passbook/audit/__init__.py
  passbook/captcha_factor/__init__.py
  passbook/core/__init__.py
  passbook/hibp_policy/__init__.py
  passbook/ldap/__init__.py
  passbook/lib/__init__.py
  passbook/oauth_client/__init__.py
  passbook/oauth_provider/__init__.py
  passbook/otp/__init__.py
  passbook/password_expiry_policy/__init__.py
  passbook/saml_idp/__init__.py
  passbook/suspicious_policy/__init__.py
Due: package-client-package-allauth, package-client-package-sentry

allow setting authentication_header to empty string (disabling the header)
  passbook/app_gw/migrations/0003_auto_20190411_1314.py
  passbook/app_gw/models.py
Due: none

use global urllib Pools
  passbook/app_gw/middleware.py
Due: none

try to fix app_gw being null
  passbook/app_gw/middleware.py
Due: none

only enable sentry when not DEBUG
  passbook/core/settings.py
Due: none

move logging to separate thread
  passbook/core/settings.py
  passbook/lib/log.py
Due: none

move actual proxying logic to separate class
  passbook/app_gw/middleware.py
  passbook/app_gw/proxy/handler.py
  passbook/app_gw/signals.py
  passbook/core/policies.py
Due: none

remove logging to increase speed, add more caching to policy and rewriter
  passbook/app_gw/proxy/handler.py
  passbook/app_gw/proxy/rewrite.py
  passbook/core/policies.py
  passbook/core/settings.py
  passbook/lib/log.py
Due: none

remove raven middleware
  passbook/core/settings.py
Due: none

fix inconsistent migrations
  passbook/core/migrations/0023_remove_user_applications.py
Due: none

prepare 0.1.31-beta
  debian/changelog
Due: none

bump version: 0.1.30-beta -> 0.1.31-beta
  .bumpversion.cfg
  .gitlab-ci.yml
  client-packages/allauth/setup.py
  client-packages/sentry-auth-passbook/setup.py
  helm/passbook/Chart.yaml
  helm/passbook/values.yaml
  passbook/__init__.py
  passbook/admin/__init__.py
  passbook/api/__init__.py
  passbook/app_gw/__init__.py
  passbook/audit/__init__.py
  passbook/captcha_factor/__init__.py
  passbook/core/__init__.py
  passbook/hibp_policy/__init__.py
  passbook/ldap/__init__.py
  passbook/lib/__init__.py
  passbook/oauth_client/__init__.py
  passbook/oauth_provider/__init__.py
  passbook/otp/__init__.py
  passbook/password_expiry_policy/__init__.py
  passbook/saml_idp/__init__.py
  passbook/suspicious_policy/__init__.py
Due: package-client-package-allauth, package-client-package-sentry

automatically add response_type if not given in OAuth Request
  passbook/oauth_provider/views/oauth2.py
Due: none

prepare 0.1.32
  debian/changelog
Due: none

bump version: 0.1.31-beta -> 0.1.32-beta
  .bumpversion.cfg
  .gitlab-ci.yml
  client-packages/allauth/setup.py
  client-packages/sentry-auth-passbook/setup.py
  helm/passbook/Chart.yaml
  helm/passbook/values.yaml
  passbook/__init__.py
  passbook/admin/__init__.py
  passbook/api/__init__.py
  passbook/app_gw/__init__.py
  passbook/audit/__init__.py
  passbook/captcha_factor/__init__.py
  passbook/core/__init__.py
  passbook/hibp_policy/__init__.py
  passbook/ldap/__init__.py
  passbook/lib/__init__.py
  passbook/oauth_client/__init__.py
  passbook/oauth_provider/__init__.py
  passbook/otp/__init__.py
  passbook/password_expiry_policy/__init__.py
  passbook/saml_idp/__init__.py
  passbook/suspicious_policy/__init__.py
Due: package-client-package-allauth, package-client-package-sentry

fix EntityID being None in SAML Metadata
  passbook/saml_idp/views.py
Due: none

fix SAML Request not being parsed all the time
  passbook/saml_idp/base.py
  passbook/saml_idp/views.py
Due: none

add Rancher SAML processor
  passbook/lib/default.yml
  passbook/saml_idp/processors/rancher.py
Due: none

remove unused import
  passbook/saml_idp/views.py
Due: none

fix broken icon for helm chart
  helm/passbook/Chart.yaml
Due: none

switch to custom CI base image with dependencies installed
  .gitlab-ci.yml
  Dockerfile.build-base
Due: none

remove included CI file
  .gitlab-ci.yml
  client-packages/allauth/.gitlab-ci.yml
Due: package-client-package-allauth

prepare 0.1.33
  debian/changelog
Due: none

better release commit messages
  .bumpversion.cfg
Due: none

new release: 0.1.33-beta
  .bumpversion.cfg
  .gitlab-ci.yml
  client-packages/allauth/setup.py
  client-packages/sentry-auth-passbook/setup.py
  helm/passbook/Chart.yaml
  helm/passbook/values.yaml
  passbook/__init__.py
  passbook/admin/__init__.py
  passbook/api/__init__.py
  passbook/app_gw/__init__.py
  passbook/audit/__init__.py
  passbook/captcha_factor/__init__.py
  passbook/core/__init__.py
  passbook/hibp_policy/__init__.py
  passbook/ldap/__init__.py
  passbook/lib/__init__.py
  passbook/oauth_client/__init__.py
  passbook/oauth_provider/__init__.py
  passbook/otp/__init__.py
  passbook/password_expiry_policy/__init__.py
  passbook/saml_idp/__init__.py
  passbook/suspicious_policy/__init__.py
Due: package-client-package-allauth, package-client-package-sentry

fix SAML RancherProcessor not being loaded by default
  debian/etc/passbook/config.yml
  helm/passbook/templates/passbook-configmap.yaml
Due: none

remove unneeded processors
  debian/etc/passbook/config.yml
  helm/passbook/templates/passbook-configmap.yaml
  passbook/lib/default.yml
  passbook/saml_idp/processors/aws.py
  passbook/saml_idp/processors/gitlab.py
  passbook/saml_idp/processors/nextcloud.py
  passbook/saml_idp/processors/rancher.py
  passbook/saml_idp/processors/shibboleth.py
  passbook/saml_idp/processors/wordpress_orange.py
Due: none

add audience field, switch base processor, better handle processor loading failure
  passbook/saml_idp/base.py
  passbook/saml_idp/forms.py
  passbook/saml_idp/migrations/0003_samlprovider_audience.py
  passbook/saml_idp/migrations/0004_auto_20190418_0918.py
  passbook/saml_idp/models.py
Due: none

repo cleanup, switch to new docker registry
  .editorconfig
  .gitlab-ci.yml
  .vscode/settings.json
  LICENSE
  debian/changelog
  debian/compat
  debian/config
  debian/control
  debian/copyright
  debian/dirs
  debian/etc/passbook/config.yml
  debian/gbp.conf
  debian/install
  debian/links
  debian/passbook-worker.service
  debian/passbook.service
  debian/postinst
  debian/postrm
  debian/prerm
  debian/rules
  debian/source/format
  debian/templates/database.yml
  helm/passbook/app-readme.md
  helm/passbook/questions.yml
  helm/passbook/templates/passbook-web-deployment.yaml
  helm/passbook/templates/passbook-worker-deployment.yaml
  passbook.sh
Due: none

filter out connection errors for sentry
  passbook/core/settings.py
  passbook/lib/sentry.py
Due: none

fix clicking on administration always loading admin interface
  passbook/core/templates/overview/base.html
Due: none

new release: 0.1.34-beta
  .bumpversion.cfg
  .gitlab-ci.yml
  client-packages/allauth/setup.py
  client-packages/sentry-auth-passbook/setup.py
  helm/passbook/Chart.yaml
  helm/passbook/values.yaml
  passbook/__init__.py
  passbook/admin/__init__.py
  passbook/api/__init__.py
  passbook/app_gw/__init__.py
  passbook/audit/__init__.py
  passbook/captcha_factor/__init__.py
  passbook/core/__init__.py
  passbook/hibp_policy/__init__.py
  passbook/ldap/__init__.py
  passbook/lib/__init__.py
  passbook/oauth_client/__init__.py
  passbook/oauth_provider/__init__.py
  passbook/otp/__init__.py
  passbook/password_expiry_policy/__init__.py
  passbook/saml_idp/__init__.py
  passbook/suspicious_policy/__init__.py
Due: package-client-package-allauth, package-client-package-sentry

fix wrong import
  passbook/lib/sentry.py
Due: none

remove django guardian and check application access via PolicyEngine
  passbook/core/requirements.txt
  passbook/core/views/overview.py
Due: none

show cache on admin overview, add modal to clear cache, re-add logging to policy
  passbook/admin/templates/administration/overview.html
  passbook/admin/views/overview.py
  passbook/core/policies.py
  passbook/core/views/overview.py
Due: none

fix gitlab-ci using incorrect variables for docker access
  .gitlab-ci.yml
  passbook/admin/views/overview.py
Due: none

new release: 0.1.35-beta
  .bumpversion.cfg
  .gitlab-ci.yml
  client-packages/allauth/setup.py
  client-packages/sentry-auth-passbook/setup.py
  helm/passbook/Chart.yaml
  helm/passbook/values.yaml
  passbook/__init__.py
  passbook/admin/__init__.py
  passbook/api/__init__.py
  passbook/app_gw/__init__.py
  passbook/audit/__init__.py
  passbook/captcha_factor/__init__.py
  passbook/core/__init__.py
  passbook/hibp_policy/__init__.py
  passbook/ldap/__init__.py
  passbook/lib/__init__.py
  passbook/oauth_client/__init__.py
  passbook/oauth_provider/__init__.py
  passbook/otp/__init__.py
  passbook/password_expiry_policy/__init__.py
  passbook/saml_idp/__init__.py
  passbook/suspicious_policy/__init__.py
Due: package-client-package-allauth, package-client-package-sentry

remove guardian completely
  passbook/core/settings.py
Due: none

new release: 0.1.36-beta
  .bumpversion.cfg
  .gitlab-ci.yml
  client-packages/allauth/setup.py
  client-packages/sentry-auth-passbook/setup.py
  helm/passbook/Chart.yaml
  helm/passbook/values.yaml
  passbook/__init__.py
  passbook/admin/__init__.py
  passbook/api/__init__.py
  passbook/app_gw/__init__.py
  passbook/audit/__init__.py
  passbook/captcha_factor/__init__.py
  passbook/core/__init__.py
  passbook/hibp_policy/__init__.py
  passbook/ldap/__init__.py
  passbook/lib/__init__.py
  passbook/oauth_client/__init__.py
  passbook/oauth_provider/__init__.py
  passbook/otp/__init__.py
  passbook/password_expiry_policy/__init__.py
  passbook/saml_idp/__init__.py
  passbook/suspicious_policy/__init__.py
Due: package-client-package-allauth, package-client-package-sentry

Path conditions:
  package-client-package-allauth: any of: client-packages/allauth/**
  package-client-package-sentry: any of: client-packages/sentry-auth-passbook/**
