Repository goauthentik/authentik: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package-client-package-allauth, package-client-package-sentry

.gitlab-ci.yml:

# Global Variables
stages:
  - build-buildimage
  - test
  - build
  - docs
  - deploy
image: docker.beryju.org/passbook/build-base:latest
services:
  - postgres:latest
  - redis:latest

variables:
  POSTGRES_DB: passbook
  POSTGRES_USER: passbook
  POSTGRES_PASSWORD: "EK-5jnKfjrGRm<77"

create-build-image:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  before_script:
    - echo "{\"auths\":{\"docker.beryju.org\":{\"auth\":\"$DOCKER_AUTH\"}}}" > /kaniko/.docker/config.json
  script:
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile.build-base --destination docker.beryju.org/passbook/build-base:latest --destination docker.beryju.org/passbook/build-base:0.1.36-beta
  stage: build-buildimage
  only:
    refs:
      - tags
      - /^version/.*$/

isort:
  script:
    - isort -c -sg env
  stage: test
migrations:
  script:
    - python manage.py migrate
  stage: test
prospector:
  script:
    - prospector
  stage: test
pylint:
  script:
    - pylint passbook
  stage: test
coverage:
  script:
    - python manage.py collectstatic --no-input
    - coverage run manage.py test
    - coverage report
  stage: test
bandit:
  script:
    - bandit -r passbook
  stage: test

package-docker:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  before_script:
    - echo "{\"auths\":{\"docker.beryju.org\":{\"auth\":\"$DOCKER_AUTH\"}}}" > /kaniko/.docker/config.json
  script:
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile --destination docker.beryju.org/passbook/server:latest --destination docker.beryju.org/passbook/server:0.1.36-beta
  stage: build
  only:
    - tags
    - /^version/.*$/
package-helm:
  stage: build
  script:
    - curl https://raw.githubusercontent.com/helm/helm/master/scripts/get | bash
    - helm init --client-only
    - helm package helm/passbook
  artifacts:
    paths:
      - passbook-*.tgz
    expire_in: 2 days
  only:
    - tags
    - /^version/.*$/

package-client-package-allauth:
  script:
    - cd client-packages/allauth
    - python setup.py sdist
    - twine upload --username $TWINE_USERNAME --password $TWINE_PASSWORD dist/*
  stage: build
  only:
    refs:
      - tags
      - /^version/.*$/
    changes:
      - client-packages/allauth/**

package-client-package-sentry:
  script:
    - cd client-packages/sentry-auth-passbook
    - python setup.py sdist
    - twine upload --username $TWINE_USERNAME --password $TWINE_PASSWORD dist/*
  stage: build
  only:
    refs:
      - tags
      - /^version/.*$/
    changes:
      - client-packages/sentry-auth-passbook/**

remove nexus_upload command
  .coveragerc
  passbook/core/management/commands/nexus_upload.py
Due: none

remove debug print
  passbook/admin/views/overview.py
  passbook/app_gw/proxy/utils.py
Due: none

fix IDP-Initiated SAML Login
  passbook/saml_idp/base.py
  passbook/saml_idp/models.py
  passbook/saml_idp/views.py
Due: none

new release: 0.1.37-beta
  .bumpversion.cfg
  .gitlab-ci.yml
  client-packages/allauth/setup.py
  client-packages/sentry-auth-passbook/setup.py
  helm/passbook/Chart.yaml
  helm/passbook/values.yaml
  passbook/__init__.py
  passbook/admin/__init__.py
  passbook/api/__init__.py
  passbook/app_gw/__init__.py
  passbook/audit/__init__.py
  passbook/captcha_factor/__init__.py
  passbook/core/__init__.py
  passbook/hibp_policy/__init__.py
  passbook/ldap/__init__.py
  passbook/lib/__init__.py
  passbook/oauth_client/__init__.py
  passbook/oauth_provider/__init__.py
  passbook/otp/__init__.py
  passbook/password_expiry_policy/__init__.py
  passbook/saml_idp/__init__.py
  passbook/suspicious_policy/__init__.py
Due: package-client-package-allauth, package-client-package-sentry

add help to show how SAML Property Mapping substitutes variables
  passbook/saml_idp/forms.py
Due: none

increase application close timeout
  passbook/core/management/commands/web.py
Due: none

Show redirect URL in <pre> element
  passbook/admin/templates/administration/source/list.html
  passbook/oauth_client/models.py
Due: none

fix missing/wrong widget inputs
  passbook/core/forms/factors.py
  passbook/core/forms/policies.py
Due: none

send session to task
  passbook/core/policies.py
Due: none

create SSOLoginPolicy, which allows factors to be applied when user comes from SSO login
  passbook/core/auth/view.py
  passbook/core/forms/policies.py
  passbook/core/migrations/0024_ssologinpolicy.py
  passbook/core/models.py
  passbook/oauth_client/views/core.py
Due: none

remove unused import
  passbook/oauth_client/views/core.py
Due: none

new release: 0.1.38-beta
  .bumpversion.cfg
  .gitlab-ci.yml
  client-packages/allauth/setup.py
  client-packages/sentry-auth-passbook/setup.py
  helm/passbook/Chart.yaml
  helm/passbook/values.yaml
  passbook/__init__.py
  passbook/admin/__init__.py
  passbook/api/__init__.py
  passbook/app_gw/__init__.py
  passbook/audit/__init__.py
  passbook/captcha_factor/__init__.py
  passbook/core/__init__.py
  passbook/hibp_policy/__init__.py
  passbook/ldap/__init__.py
  passbook/lib/__init__.py
  passbook/oauth_client/__init__.py
  passbook/oauth_provider/__init__.py
  passbook/otp/__init__.py
  passbook/password_expiry_policy/__init__.py
  passbook/saml_idp/__init__.py
  passbook/suspicious_policy/__init__.py
Due: package-client-package-allauth, package-client-package-sentry

improve OIDC compatibility
  passbook/core/views/authentication.py
  passbook/oauth_provider/settings.py
  passbook/oauth_provider/views/openid.py
Due: none

Fix typo
  passbook/oauth_provider/views/openid.py
Due: none

separate passbook.core into passbook.root and passbook.core
  manage.py
  passbook/admin/views/overview.py
  passbook/core/apps.py
  passbook/core/management/commands/web.py
  passbook/core/management/commands/worker.py
  passbook/core/policies.py
  passbook/core/tasks.py
  passbook/core/urls.py
  passbook/lib/sentry.py
  passbook/root/__init__.py
  passbook/root/asgi.py
  passbook/root/celery.py
  passbook/root/requirements.txt
  passbook/root/settings.py
  passbook/root/urls.py
  passbook/root/wsgi.py
Due: none

Fix wrong URLConf being loaded
  passbook/root/settings.py
Due: none

new release: 0.2.0-beta
  .bumpversion.cfg
  .gitlab-ci.yml
  client-packages/allauth/setup.py
  client-packages/sentry-auth-passbook/setup.py
  helm/passbook/Chart.yaml
  helm/passbook/values.yaml
  passbook/__init__.py
  passbook/admin/__init__.py
  passbook/api/__init__.py
  passbook/app_gw/__init__.py
  passbook/audit/__init__.py
  passbook/captcha_factor/__init__.py
  passbook/core/__init__.py
  passbook/hibp_policy/__init__.py
  passbook/ldap/__init__.py
  passbook/lib/__init__.py
  passbook/oauth_client/__init__.py
  passbook/oauth_provider/__init__.py
  passbook/otp/__init__.py
  passbook/password_expiry_policy/__init__.py
  passbook/saml_idp/__init__.py
  passbook/suspicious_policy/__init__.py
Due: package-client-package-allauth, package-client-package-sentry

Fix requirements file importing wrong path
  requirements.txt
Due: none

new release: 0.2.1-beta
  .bumpversion.cfg
  .gitlab-ci.yml
  client-packages/allauth/setup.py
  client-packages/sentry-auth-passbook/setup.py
  helm/passbook/Chart.yaml
  helm/passbook/values.yaml
  passbook/__init__.py
  passbook/admin/__init__.py
  passbook/api/__init__.py
  passbook/app_gw/__init__.py
  passbook/audit/__init__.py
  passbook/captcha_factor/__init__.py
  passbook/core/__init__.py
  passbook/hibp_policy/__init__.py
  passbook/ldap/__init__.py
  passbook/lib/__init__.py
  passbook/oauth_client/__init__.py
  passbook/oauth_provider/__init__.py
  passbook/otp/__init__.py
  passbook/password_expiry_policy/__init__.py
  passbook/saml_idp/__init__.py
  passbook/suspicious_policy/__init__.py
Due: package-client-package-allauth, package-client-package-sentry

Fix linting errors with current build-base image
  passbook/audit/models.py
  passbook/lib/config.py
  requirements-dev.txt
Due: none

new release: 0.2.2-beta
  .bumpversion.cfg
  .gitlab-ci.yml
  client-packages/allauth/setup.py
  client-packages/sentry-auth-passbook/setup.py
  helm/passbook/Chart.yaml
  helm/passbook/values.yaml
  passbook/__init__.py
  passbook/admin/__init__.py
  passbook/api/__init__.py
  passbook/app_gw/__init__.py
  passbook/audit/__init__.py
  passbook/captcha_factor/__init__.py
  passbook/core/__init__.py
  passbook/hibp_policy/__init__.py
  passbook/ldap/__init__.py
  passbook/lib/__init__.py
  passbook/oauth_client/__init__.py
  passbook/oauth_provider/__init__.py
  passbook/otp/__init__.py
  passbook/password_expiry_policy/__init__.py
  passbook/saml_idp/__init__.py
  passbook/suspicious_policy/__init__.py
Due: package-client-package-allauth, package-client-package-sentry

root: migrate to new sentry instance
  passbook/root/settings.py
Due: none

core: revert to cherrypy for main webserver and use daphne only for app_gw
  passbook/app_gw/asgi.py
  passbook/app_gw/management/__init__.py
  passbook/app_gw/management/commands/__init__.py
  passbook/app_gw/management/commands/app_gw_web.py
  passbook/core/management/commands/web.py
  passbook/lib/default.yml
  passbook/root/requirements.txt
  passbook/root/settings.py
Due: none

helm: add deployment for appgw
  helm/passbook/templates/passbook-appgw-deployment.yaml
  helm/passbook/templates/passbook-appgw-service.yaml
Due: none

helm: add appgw to ingress
  helm/passbook/templates/passbook-ingress.yaml
  helm/passbook/templates/passbook-web-service.yaml
  helm/passbook/values.yaml
Due: none

ci: fix new dependencies not being installed on the fly
  .gitlab-ci.yml
Due: none

client-sentry: fix 400 failing upload
  client-packages/sentry-auth-passbook/setup.py
Due: package-client-package-sentry

new release: 0.2.3-beta
  .bumpversion.cfg
  .gitlab-ci.yml
  client-packages/allauth/setup.py
  client-packages/sentry-auth-passbook/setup.py
  helm/passbook/Chart.yaml
  helm/passbook/values.yaml
  passbook/__init__.py
  passbook/admin/__init__.py
  passbook/api/__init__.py
  passbook/app_gw/__init__.py
  passbook/audit/__init__.py
  passbook/captcha_factor/__init__.py
  passbook/core/__init__.py
  passbook/hibp_policy/__init__.py
  passbook/ldap/__init__.py
  passbook/lib/__init__.py
  passbook/oauth_client/__init__.py
  passbook/oauth_provider/__init__.py
  passbook/otp/__init__.py
  passbook/password_expiry_policy/__init__.py
  passbook/saml_idp/__init__.py
  passbook/suspicious_policy/__init__.py
Due: package-client-package-allauth, package-client-package-sentry

helm: fix syntax error
  helm/passbook/templates/passbook-ingress.yaml
Due: none

remove oidc from OAuth2, add dedicated OIDC provider
  passbook/core/templates/base/skeleton_login.html
  passbook/core/templates/login/base.html
  passbook/oauth_provider/forms.py
  passbook/oauth_provider/models.py
  passbook/oauth_provider/urls.py
  passbook/oauth_provider/views/oauth2.py
  passbook/oauth_provider/views/openid.py
  passbook/oidc_provider/__init__.py
  passbook/oidc_provider/apps.py
  passbook/oidc_provider/forms.py
  passbook/oidc_provider/lib.py
  passbook/oidc_provider/migrations/0001_initial.py
  passbook/oidc_provider/migrations/__init__.py
  passbook/oidc_provider/models.py
  passbook/oidc_provider/requirements.txt
  passbook/oidc_provider/settings.py
  passbook/oidc_provider/templates/oidc_provider/authorize.html
  passbook/oidc_provider/templates/oidc_provider/setup_url_modal.html
  passbook/root/settings.py
  requirements.txt
Due: none

oidc_provider: fix error trying to create RSA Key before migrations are run
  passbook/oidc_provider/apps.py
Due: none

new release: 0.2.4-beta
  .bumpversion.cfg
  .gitlab-ci.yml
  client-packages/allauth/setup.py
  client-packages/sentry-auth-passbook/setup.py
  helm/passbook/Chart.yaml
  helm/passbook/values.yaml
  passbook/__init__.py
  passbook/admin/__init__.py
  passbook/api/__init__.py
  passbook/app_gw/__init__.py
  passbook/audit/__init__.py
  passbook/captcha_factor/__init__.py
  passbook/core/__init__.py
  passbook/hibp_policy/__init__.py
  passbook/ldap/__init__.py
  passbook/lib/__init__.py
  passbook/oauth_client/__init__.py
  passbook/oauth_provider/__init__.py
  passbook/otp/__init__.py
  passbook/password_expiry_policy/__init__.py
  passbook/saml_idp/__init__.py
  passbook/suspicious_policy/__init__.py
Due: package-client-package-allauth, package-client-package-sentry

oidc_provider: fix error when creating a new provider
  passbook/oidc_provider/forms.py
Due: none

root: fix sentry sending wrong release
  passbook/root/settings.py
Due: none

app_gw: Rewrite redirect responses (replace upstream location with server_name)
  passbook/app_gw/proxy/handler.py
  passbook/app_gw/proxy/response.py
Due: none

new release: 0.2.5-beta
  .bumpversion.cfg
  .gitlab-ci.yml
  client-packages/allauth/setup.py
  client-packages/sentry-auth-passbook/setup.py
  helm/passbook/Chart.yaml
  helm/passbook/values.yaml
  passbook/__init__.py
  passbook/admin/__init__.py
  passbook/api/__init__.py
  passbook/app_gw/__init__.py
  passbook/audit/__init__.py
  passbook/captcha_factor/__init__.py
  passbook/core/__init__.py
  passbook/hibp_policy/__init__.py
  passbook/ldap/__init__.py
  passbook/lib/__init__.py
  passbook/oauth_client/__init__.py
  passbook/oauth_provider/__init__.py
  passbook/otp/__init__.py
  passbook/password_expiry_policy/__init__.py
  passbook/saml_idp/__init__.py
  passbook/suspicious_policy/__init__.py
Due: package-client-package-allauth, package-client-package-sentry

api: fix wrong django-rest-framework dependency
  passbook/api/requirements.txt
Due: none

new release: 0.2.6-beta
  .bumpversion.cfg
  .gitlab-ci.yml
  client-packages/allauth/setup.py
  client-packages/sentry-auth-passbook/setup.py
  helm/passbook/Chart.yaml
  helm/passbook/values.yaml
  passbook/__init__.py
  passbook/admin/__init__.py
  passbook/api/__init__.py
  passbook/app_gw/__init__.py
  passbook/audit/__init__.py
  passbook/captcha_factor/__init__.py
  passbook/core/__init__.py
  passbook/hibp_policy/__init__.py
  passbook/ldap/__init__.py
  passbook/lib/__init__.py
  passbook/oauth_client/__init__.py
  passbook/oauth_provider/__init__.py
  passbook/otp/__init__.py
  passbook/password_expiry_policy/__init__.py
  passbook/saml_idp/__init__.py
  passbook/suspicious_policy/__init__.py
Due: package-client-package-allauth, package-client-package-sentry

api: *actually* fix drf dependency issue
  passbook/api/requirements.txt
Due: none

client-packages: now deprecated
  client-packages/allauth/allauth_passbook/__init__.py
  client-packages/allauth/allauth_passbook/provider.py
  client-packages/allauth/allauth_passbook/urls.py
  client-packages/allauth/allauth_passbook/views.py
  client-packages/allauth/requirements.txt
  client-packages/allauth/setup.py
  client-packages/sentry-auth-passbook/.gitignore
  client-packages/sentry-auth-passbook/.travis.yml
  client-packages/sentry-auth-passbook/LICENSE
  client-packages/sentry-auth-passbook/MANIFEST.in
  client-packages/sentry-auth-passbook/Makefile
  client-packages/sentry-auth-passbook/README.rst
  client-packages/sentry-auth-passbook/conftest.py
  client-packages/sentry-auth-passbook/sentry_auth_passbook/__init__.py
  client-packages/sentry-auth-passbook/sentry_auth_passbook/client.py
  client-packages/sentry-auth-passbook/sentry_auth_passbook/constants.py
  client-packages/sentry-auth-passbook/sentry_auth_passbook/provider.py
  client-packages/sentry-auth-passbook/sentry_auth_passbook/templates/sentry_auth_passbook/configure.html
  client-packages/sentry-auth-passbook/sentry_auth_passbook/views.py
  client-packages/sentry-auth-passbook/setup.cfg
  client-packages/sentry-auth-passbook/setup.py
  client-packages/sentry-auth-passbook/tests/test_plugin.py
  client-packages/sentry-auth-passbook/tests/test_provider.py
  client-packages/sentry-auth-passbook/tests/test_views.py
Due: package-client-package-allauth, package-client-package-sentry
